@{
    ViewData["Title"] = "Home Page";
}


<!-- JumboTron -->
<div class="jumbotron" id="indexJT">

    <div class="container"><h1 class="display-4">Welcome To RiverMan We Are So Happy You joined Us Today</h1></div>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                     <img src="~/img/Netflix.png" alt="Netflix" style="width:100%"/>
                <div class="cont ainer">
                    <h4><b>Netflix</b></h4>
                    <p>Video Streaming</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
               <img src="~/img/AmazonPrime.png" alt="AmazonPrime" style="width:100%"/>
                <div class="container">
                    <h4><b>Amazon Prime</b></h4>
                    <p>E-commerce</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/img/Sky.png"  alt="Sky" style="width:100%"/>
                <div class="container">
                    <h4><b>Sky</b></h4>
                    <p>Internet Provider</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/img/HeadSpace.png"  alt="Headspace" style="width:100%"/>
                <div class="container">
                    <h4><b>Headspace</b></h4>
                    <p>Guided Meditation</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/img/Audible.png" alt="Audible" style="width:100%">
                <div class="container">
                    <h4><b>Audible</b></h4>
                    <p>Audio Books</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="~/img/TVLicensing.png" alt="TVLicence" style="width:100%"/>
                <div class="container">
                    <h4><b>TV Licence</b></h4>
                    <p>BBC TV Licence</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">More Information</a>
                </div>
            </div>
        </div>

    </div>

</div>







