@{
    ViewData["Title"] = "Home Page";
}


<!-- JumboTron -->
<div class="jumbotron" id="indexJT">

    <div class="container" ><h1 class="display-4">Welcome To RiverMan We Are So Happy You joined Us Today</h1></div>
   
</div>

<!-- Subscription Cards -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>
                    "It uses utility classes for typography and spacing to space con");
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href= "#" role= "button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>