@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-4">Welcome to the RiverMan Subscription Service Tracker</h1>
        <p class="lead">Helping you manage your subscriptions</p>
        <hr class="my-4">

    </div>
